{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li class="active">Comment</li>
            </ol>
        </div>
    </div>
    <h1>Comments list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Content</th>
                <th>Date</th>
                <th>Task</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.content }}</td>
                <td>{{ comment.date }}</td>
                <td>{{ comment.tasks }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comment_show', { 'id': comment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('comment_edit', { 'id': comment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comment_new') }}">Create a new comment</a>
        </li>
    </ul>
    {% block isgranted %}{% endblock %}
{% endblock %}
