{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
<div class="col-md-9">
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('category_index') }}">Category</a></li>
        <li class="active">New</li>
    </ol>
</div>
</div>

    <h1>Category creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('category_index') }}">Back to the list</a>
        </li>
    </ul>
    {% block isgranted %}{% endblock %}
{% endblock %}
